os:
  - osx

matrix:
  include:
    - osx_image: xcode7.1
    - osx_image: xcode7.3
    - osx_image: xcode8

install:
  - sudo curl -s https://bootstrap.pypa.io/get-pip.py | python
  - sudo pip install wheel

script:
  - for V in `curl -s https://pypi.python.org/simple/python-ldap/ | egrep -o '\d+\.\d+\.\d+' | sort -u`; do pip wheel python-ldap==$V; done;

addons:
  artifacts: true
  debug: true
